<div id="hero" class="text-center space-y-8 py-16">
    <div class="max-w-screen-md mx-auto text-center text-5xl md:text-6xl font-bold">
        <h1><span class="text-transparent bg-gradient-to-r from-[#c726c9] to-primary bg-clip-text">Embedded,</span> Not Just Engaged</h1>
    </div>
    <p class="max-w-screen-sm mx-auto text-xl text-muted-foreground">More than advice. We join your team to help imagine, design, and build AI enabled customer experiences with the latest tools.</p>
    <div class="mt-8">
        <img src="{{ '/assets/images/hero_phone.webp' | relative_url }}" alt="Phone Chat Interface" class="mx-auto max-w-full h-auto md:max-w-lg">
    </div>
</div>